
       <div class="content">
          <nz-table [nzNoResult]="'暂无数据'" #editRowTable [nzBordered]="true" [nzData]="articleData" [nzShowPagination]="false">
              <thead>
                 <tr>
                   <th nzShowCheckbox nzShowRowSelection [nzSelections]="listOfSelection" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
                   <th nzWidth="8%">文章ID</th>
                   <th nzWidth="10%">文章标题</th>
                   <th nzWidth="10%">文章类别</th>
                   <th nzWidth="10%">文章标签</th>
                   <th nzWidth="8%">文章状态</th>
                   <th nzWidth="8%">是否可评论</th>
                   <th nzWidth="8%">文章浏览量</th>
                   <th nzWidth="8%">文章点赞</th>
                   <th nzWidth="8%">文章排序</th>
                   <th nzWidth="10%">文章作者</th>
                   <th>操作</th>
                 </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of editRowTable.data">
                   <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
                   <td>
                     <ng-container>
                       {{data.articleId}}
                     </ng-container>
                   </td>
                   <td>
                     <ng-container *ngIf="!editCache[(data.articleId)].edit">
                       {{data.articleTitle}}
                     </ng-container>
                     <ng-container *ngIf="editCache[(data.articleId)].edit">
                         <input type="text" nz-input [(ngModel)]="editCache[data.articleId].data.articleTitle">
                     </ng-container>
                   </td>
                   <td>
                      <ng-container>
                        {{data.category.categoryName}}
                      </ng-container>
                    </td>
                    <td>
                        <ng-container *ngFor="let item of data.tag">
                          {{item.tagName}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editCache[(data.articleId)].edit">
                          {{data.articleStatus}}
                        </ng-container>
                        <ng-container *ngIf="editCache[(data.articleId)].edit">
                            <input type="text" nz-input [(ngModel)]="editCache[data.articleId].data.articleStatus">
                        </ng-container>
                      </td>
                      <td>
                          <ng-container *ngIf="!editCache[(data.articleId)].edit">
                            {{data.articleIsComment}}
                          </ng-container>
                          <ng-container *ngIf="editCache[(data.articleId)].edit">
                              <input type="text" nz-input [(ngModel)]="editCache[data.articleId].data.articleIsComment">
                          </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="!editCache[(data.articleId)].edit">
                              {{data.articleViewCount}}
                            </ng-container>
                            <ng-container *ngIf="editCache[(data.articleId)].edit">
                                <input type="text" nz-input [(ngModel)]="editCache[data.articleId].data.articleViewCount">
                            </ng-container>
                          </td>
                          <td>
                              <ng-container *ngIf="!editCache[(data.articleId)].edit">
                                {{data.articleLikeCount}}
                              </ng-container>
                              <ng-container *ngIf="editCache[(data.articleId)].edit">
                                  <input type="text" nz-input [(ngModel)]="editCache[data.articleId].data.articleLikeCount">
                              </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="!editCache[(data.articleId)].edit">
                                  {{data.articleOrder}}
                                </ng-container>
                                <ng-container *ngIf="editCache[(data.articleId)].edit">
                                    <input type="text" nz-input [(ngModel)]="editCache[data.articleId].data.articleOrder">
                                </ng-container>
                              </td>
                              <td>
                                  <ng-container>
                                    {{data.user.userNickname}}
                                  </ng-container>
                                  
                                </td>
                  
                   <td>
                     <div class="editable-row-operations">
                       <ng-container class="action" *ngIf="!editCache[data.articleId].edit">
                         <a (click)="startEdit(data.articleId)">Edit</a>
                       </ng-container>
                       <ng-container class="action" *ngIf="editCache[data.articleId].edit">
                         <a (click)="saveEdit(data.articleId)">Save</a>
                       </ng-container>
                       <ng-container class="action">
                          <a (click)="detaile(data.articleContent)">查看</a>
                        </ng-container>
                     </div>
                   </td>
                </tr>
              </tbody>
            </nz-table>
     
       </div>