
 
<div class="content">

  <!-- 类别选择器 -->
    <span>文章类别：</span><nz-cascader
      nzChangeOnSelect
      [nzOptions]="categoryList"
      [(ngModel)]="categoryIds"
      [nzValueProperty]="'id'"
      [nzLabelProperty]="'categoryName'"
      (ngModelChange)="onChanges($event)"
      (nzSelect)="fun($event)"
      >
    </nz-cascader>
    <!-- 标签选择器 -->
    <span>文章标签：</span><nz-select style="width: 200px;" [(ngModel)]="selectTagIds" [nzSize]="size" nzMode="multiple">
      <nz-option *ngFor="let tag of tags" [nzLabel]="tag.tagName" [nzValue]="tag.tagId"></nz-option>
    </nz-select>
    <button class="save_btn" nz-button nzType="primary" (click)="save()">提交</button>

    <!-- 文章标题 -->
    <p class="title_box">
      <span class="title">文章标题</span>
      <input nz-input placeholder="请输入文章标题" [(ngModel)]="articleTitle">
    </p>
<!-- 编辑器 -->
    <editor [(ngModel)]="articleContent" (onSelectionChange)="handleEvent($event)" [init]="tinyMceSettings">

    </editor>
    
</div>









