<div class="box">
    <div class="banner">
    </div>
  <div class="content">
    <div class="blogList">
     <h2>最新发布</h2>
       <nz-list
      [nzDataSource]="articleNew"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item"
      [nzPagination]="pagination"
      >
      <ng-template #item let-item>
        <nz-list-item [nzContent]="content" [nzActions]="[starAction,likeAction,msgAction]" [nzExtra]="extra">
          <ng-template #starAction><i nz-icon type="eye" theme="outline" style="margin-right: 8px;"></i> {{item.articleViewCount}}</ng-template>
          <ng-template #likeAction><i nz-icon type="like-o" style="margin-right: 8px;"></i> {{item.articleCommentCount}}</ng-template>
          <ng-template #msgAction><i nz-icon type="message" style="margin-right: 8px;"></i> {{item.articleLikeCount}}</ng-template>
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="tag">
            <ng-template #nzTitle><a routerLink="['/blogIndex',item.articleId]">{{item.articleTitle}}</a></ng-template>
            <ng-template #tag ><span *ngFor="let tagItem of item.tag">{{tagItem.tagName}}</span></ng-template>
          </nz-list-item-meta>
            <p class="item_content" #content>
             <a routerLink="['/blogIndex',item.articleId]">{{item.articleContentMd}}</a> 
            </p>
          <ng-template #extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
          </ng-template>
        </nz-list-item>
      </ng-template>
      <!-- <ng-template #pagination>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="total" (nzPageIndexChange)="loadData($event)"></nz-pagination>
      </ng-template> -->
    </nz-list>
    </div>
  </div>
  
</div>
