.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        color: #fff;
        font-size: 1.125rem;
        span:nth-child(2)
            {
                margin: 0 1rem;
            }
    }
   
}