header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        width:60%;
        height: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding: 0;
        li{
            text-align: center;
        }
        .input_box{
            width: 31.25rem;
        }
    }
}
